<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutMe</title>
</head>
<body>
    <h1 style="color: blue;">AboutMe</h1>
    <hr>
    <form action="/" method="post">
        <ol>
            <li>
                <label for="username">Username:</label>
                <input type="text" name="username">
            </li>
            <li>
                <label for="age">Age:</label>
                <input type="text" name="age">
            </li>
            <li>
                <label for="city">City:</label>
                <input type="text" name="city">
            </li>
            <li>
                <label for="language">Favorite programming language:</label>
                <input type="text" name="language">
            </li>
        </ol>
        <p>
            <input type="submit" value="Input" />
        </p>
    </form>
</body>
</html>